body{
	margin: 0;
}
.container{
/*	border: 1px solid red;*/
	width: 100%;
	height: 657px;
	background: rgba(200, 200, 200, 1.0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top_{
/*	border: 1px solid red;*/
	width: 103%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}
.top_h1{
/*	border: 1px solid;*/
	color: white;
	font-family: 'Roboto', sans-serif;
}
.top_buttons{
/*	border: 1px solid;*/
	width: 310px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.button_style{
	width: 150px;
	height: 30px;
	border-radius: 20px;
}
.button_style:nth-child(2){
	width: 140px;
}
.button_style:nth-child(3){
	width: 140px;
}
.button_style:hover{
	background: rgba(100, 100, 100, 0.8);
	cursor: pointer;
}

.bottom_{
/*	border: 1px solid red;*/
	width: 103%;
	height: 587px;
	background: rgba(80, 200, 120, 1.0);
	display: flex;
	flex-direction: column;
	padding: 50px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.inputs{
/*	border: 1px solid red;*/
	width: 540px;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}
.inputs_inside{
/*	border: 1px solid yellow;*/
	width: 400px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputs_inside input{
	border: hidden;
	border-radius: 10px;
	width: 350px;
	height: 30px;
}
.bottom_parts{
/*	border: 1px solid blue;*/
	height: 50%;
	width: 100%;
	display: flex;
	align-items: center;
}
.group{
/*	border: 1px solid yellow;*/
	margin: 5px;
	width: 71%;
	height: 90%;
	background: rgba(0, 100, 100, 1.0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.group_second{
/*	border: 1px solid;*/
	width: 92%;
	height: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 255, 0, 0.7);
}
.group_second:hover{
	background: rgba(2, 115, 235, 1.0);
	cursor: pointer;
}
.group_second span{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}