body{
	margin: 0;
}
.mainDiv{
/*	border: 1px solid;*/
	width: 100%;
	height: 657px;
	background: rgba(200, 200, 200, 1.0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top{
/*	border: 1px solid red;*/
	width: 80%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	align-items: center;
	padding-left: 20px;
	box-sizing: border-box;
}
.strong_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
}

.bottom{
/*	border: 1px solid;*/
	width: 80%;
	height: 587px;
	background: rgba(201, 255, 229, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottom_inside{
/*	border: 1px solid blue;*/
	border-radius: 15px;
	width: 610px;
	height: 350px;
	background: rgba(30, 100, 140, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 20px;
	box-sizing: border-box;
}
.bottom_input_select{
/*	border: 1px solid red;*/
	width: 90%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
	box-sizing: border-box;
}
.bottom_input_select input{
	border: none;
	border-radius: 5px;
	width: 99%;
	height: 35px;
	padding-left: 10px;
	box-sizing: border-box;
}
.bottom_input_select select{
	border: none;
	border-radius: 5px;
	width: 27%;
	height: 35px;
}
.forButtons{
/*	border: 1px solid red;*/
	width: 90%;
	height: fit-content;
	display: flex;
	justify-content: flex-end;
}
.forButtons_inside{
/*	border: 1px solid green;*/
	width: 39%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.buttons_style{
	border: 1px solid white;
	border-radius: 12px;
	width: 100px;
	height: 35px;
	background: rgba(200, 200, 200, 0.5);
	color: white;
}
.buttons_style:hover{
	background: rgba(200, 200, 200, 1.0);
}
.buttons_style:nth-child(2){
	background: rgba(43, 116, 181, 0.8);
}
.buttons_style:nth-child(2):hover{
	background: rgba(43, 116, 181, 1.0);
}



/*lecturer_profile_create_questionnaire_style.css*/
.bottom_two{
/*	border: 1px solid;*/
	width: 80%;
	height: 587px;
	background: rgba(201, 255, 229, 0.5);
	padding-left: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottom_inside_two{
/*	border: 1px solid blue;*/
	border-radius: 15px;
	width: fit-content;
	height: 280px;
	background: rgba(30, 100, 140, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
}
.bottom_selects{
/*	border: 1px solid red;*/
	width: fit-content;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 50px;
}
.bottom_selects select{
	border-radius: 10px;
	width: 500px;
	height: 35px;
}
.forButtons_two{
/*	border: 1px solid green;*/
	width: 98%;
	height: fit-content;
	display: flex;
	justify-content: flex-end;
}
.forButtons_inside_two{
/*	border: 1px solid green;*/
	width: 52%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.buttons_style_two{
	border: 1px solid white;
	border-radius: 12px;
	width: 120px;
	height: 35px;
	background: rgba(200, 200, 200, 0.5);
	color: white;
}
.buttons_style_two:hover{
	background: rgba(200, 200, 200, 1.0);
}
.buttons_style_two:nth-child(2){
	background: rgba(43, 116, 181, 0.8);
}
.buttons_style_two:nth-child(2):hover{
	background: rgba(43, 116, 181, 1.0);
}

/*lecturer_profile_questionnaire_with_questions_style.css*/
.top_three{
	border-bottom: 1px solid;
	width: 80%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}
.top_three:nth-child(2){	
	justify-content: space-between;
}
.strong_style_three{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
.top_buttons{
/*	border: 1px solid red;*/
	width: 650px;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}
.buttons_style_three{
	border: 1px solid white;
	border-radius: 12px;
	width: 150px;
	height: 35px;
	background: rgba(200, 200, 200, 0.5);
	color: white;
}
.buttons_style_three:hover{
	background: rgba(200, 200, 200, 1.0);
}
.bottom_three{
/*	border: 1px solid;*/
	width: 80%;
	height: 587px;
	background: rgba(201, 255, 229, 0.5);
}
.bottom_inside_three{
/*	border: 1px solid blue;*/
	border-radius: 15px;
	width: 850px;
	height: 500px;
	background: rgba(30, 100, 140, 0.4);
	box-sizing: border-box;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.bottom_inside_three span{
	border: 1px solid white;
/*	width: 96%;*/
/*	height: 30px;*/
	display: block;
	border-radius: 10px;
	background: rgba(100, 100, 100, 0.4);
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

/*student_profile_exam_style.css*/
.top_fourth{
/*	border: 1px solid red;*/
	width: 80%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}
.top_fourth:nth-child(2){
	margin-bottom: unset;
	justify-content: space-between;
	padding: 0 20px;
}
.bottom_fourth{
/*	border: 1px solid red;*/
	width: 80%;
	height: 77%;
	background: rgba(201, 255, 229, 0.5);
	display: flex;
}
.bottom_left{
	border: 3px dashed;
	width: 25%;
	height: 98.8%;
	display: flex;
	justify-content: center;
}
.bottom_left_inside{
/*	border: 1px solid green;*/
	width: 95%;
	height: 50%;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.time{
/*	border: 1px solid red;*/
	width: 100%;
	height: 60%;
	background: rgba(108, 200, 51, 1.0);
	display: flex;
	justify-content: center;
	align-items: center;
}
.time span{
/*	border: 1px solid;*/
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}
.bottom_left_inside_span_style{
	border: 1px solid blue;
	border-radius: 12px;
	width: 40%;
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottom_left_inside_span_style span{
	color: blue;
	font-family: 'Roboto', sans-serif;
}
.bottom_left_inside_button_style{
	border: 1px solid blue;
	border-radius: 12px;
	width: 100px;
	height: 35px;
	background: rgba(200, 200, 200, 0.0);
	color: blue;
}
.bottom_left_inside_button_style:hover{
	background: rgba(200, 200, 200, 1.0);
}
.bottom_right{
	border-top: 3px dashed;
	border-right: 3px dashed;
	border-bottom: 3px dashed;
	width: 75%;
	height: 100%;
	padding: 10px 0 20px 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.questions{
	border-bottom: 5px dashed red;
	width: 98%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 30px 10px;
	box-sizing: border-box;
}
.questions:nth-child(10){
	border-bottom: none;
	padding-bottom: 0;
}
.font_style{
	font-family: 'Roboto', sans-serif;
}
.under{
	text-decoration: underline;
}
.for_right{
/*	border: 1px solid;*/
	margin: 5px 0 0 30px;
}

/*displaying_results_style.css*/
.bottom_fifth{
/*	border: 1px solid red;*/
	width: 80%;
	height: 587px;/*657-70*/
	background: rgba(201, 255, 229, 0.5);
	padding: 15px 0 0 15px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.bottom_divs{
/*	border: 1px solid red;*/
	width: fit-content;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 15px;
}
.bottom_divs span, strong{
	font-family: 'Roboto', sans-serif;
}
.color_red{
	color: red;
}