body{
	margin: 0;
}
.container{
/*	border: 1px solid;*/
	width: 100%;
	height: 657px;
	background: rgba(200, 200, 200, 1.0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top{
/*	border: 1px solid red;*/
	width: 80%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}
.top_h1{
/*	border: 1px solid;*/
	color: white;
	font-family: 'Roboto', sans-serif;
}
.top_buttons{
/*	border: 1px solid;*/
	width: 450px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.top_buttons_twoo{
/*	border: 1px solid;*/
	width: 300px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.button_style{
	width: 140px;
	height: 30px;
	border-radius: 20px;
}
.button_style:hover{
	background: rgba(100, 100, 100, 0.8);
	cursor: pointer;
}

.bottom{
/*	border: 1px solid red;*/
	width: 80%;
	height: 587px;
	background: rgba(255, 255, 255, 1.0);
	display: flex;
	flex-direction: column;
	padding: 50px;
	box-sizing: border-box;
}
.bottom_parts{
/*	border: 1px solid blue;*/
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.bottom_parts:nth-child(2){
/*	border: 1px solid green;*/
	align-items: flex-end;
}
.bottom_parts_twoo{
/*	border: 1px solid blue;*/
	height: 50%;
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.bottom_parts_twoo:nth-child(2){
/*	border: 1px solid green;*/
	align-items: flex-end;
}
.group{
/*	border: 1px solid yellow;*/
	width: 27%;
	height: 90%;
	background: rgba(0, 100, 100, 1.0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.group_twoo{
/*	border: 1px solid yellow;*/
	width: 47%;
	height: 90%;
	background: rgba(0, 100, 100, 1.0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.group_second{
/*	border: 1px solid;*/
	width: 75%;
	height: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 255, 0, 0.7);
}
.group_second:hover{
	background: rgba(2, 115, 235, 1.0);
	cursor: pointer;
}
.group_second span{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.group_icon{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}
.group_icon:hover{
	cursor: pointer;
	color: rgba(208, 55, 235, 1.0);	
}
.group_third{
/*	border: 1px solid;*/
	width: 80%;
	height: 44%;
	background: white;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: -184px;
	top: 33px;
	z-index: 9;
	display: none;
}
.group_third_inside{
/*	border: 1px solid green;*/
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
}
.group_third_inside:hover{
	background: rgba(100, 100, 100, 0.5);
	cursor: pointer;
}
.group_third_inside_icon{
	font-size: 15px;
	margin-left: 10px;
}
.group_third_inside_span{
	font-family: 'Roboto', sans-serif;
	margin-left: 5px;
}
.group_third_inside_span_three{
	margin-left: 11px;
}

.createGroup{
	border: 1px solid;
	width: 50%;
	height: 38%;
	background: white;
	padding: 0 25px;
	position: absolute;
	top: 30%;
	left: 23.5%;
	display: none;
}
.createGroup_h1{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.createGroup_h1:nth-child(3){
	display: block;
	margin-top: 20px;
}
.createGroup_input{
	border-radius: 5px;
	width: 200px;
	height: 20px;
}
.buttons{
/*	border: 1px solid;*/
	width: 210px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.createGroup_button{
	border-radius: 12px;
	width: 95px;
	height: 35px;
	background: rgba(100, 200, 200, 0.5);
}
.createGroup_button:hover{
	cursor: pointer;	
	background: rgba(100, 200, 200, 0.9);
}

.createGroup_second{
	border: 1px solid;
	width: 55%;
	height: 38%;
	background: white;
	padding: 0 25px;
	position: absolute;
	top: 30%;
	left: 20.5%;
/*	display: none;*/
}
.createGroup_h2{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 21px;
	display: block;
}
.input_and_button{
/*	border: 1px solid;*/
	width: 42%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.createGroup_input_second{
	border-radius: 5px;
	width: 200px;
	height: 25px;
}
.createGroup_button_second{
	border-radius: 12px;
	width: 95px;
	height: 35px;
	background: rgba(100, 200, 200, 0.5);
	position: absolute;
	bottom: 20px;
	right: 45px;
}
.createGroup_button_second:hover{
	cursor: pointer;	
	background: rgba(100, 200, 200, 0.9);
}