body{
	margin: 0;
}
.mainDiv{
/*	border: 1px solid;*/
	width: 100%;
	height: 657px;
	background: rgba(200, 200, 200, 1.0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.top{
/*	border: 1px solid red;*/
	width: 80%;
	height: 70px;
	background: rgba(0, 115, 130, 1.0);
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	box-sizing: border-box;
}
.inside_of_top{
/*	border: 1px solid;*/
	width: 65%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.link_style:hover{
	text-decoration: underline;	
}

.bottom{
/*	border: 1px solid;*/
	width: 80%;
	height: 587px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.bottom_left{
/*	border: 1px solid;*/
	width: 30%;
	height: 99%;
	background: rgba(51, 51, 51, 1.0);
	position: relative;
}
.bottom_left img{
	width: 180px;
	height: 180px;
	position: absolute;
	top: 30px;
	left: 73.92px;/*(-180)/2*/
}
.span_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 230px;
	left: 41px;
}
.bottom_right{
/*	border: 1px solid red;*/
	width: 68%;
	height: 99%;
	background: rgba(255, 255, 255, 1.0);
	padding-left: 20px;
	box-sizing: border-box;
}
.white_font_style{
	font-family: 'Roboto', sans-serif;
}
.about{
	border-bottom: 1px solid rgba(200, 200, 200, 1.0);
	width: 97%;
	height: 50px;
	display: flex;
	align-items: center;
}
.about_inside{
/*	border: 1px solid red;*/
	width: 60%;
	height: 20px;
	display: flex;
	justify-content: space-between;
}
.about_inside span{
	font-family: 'Roboto', sans-serif;
}
.gray_spans{
	color: gray;
	margin-left: 50px;
}