body{
	margin: 0;
}
.mainDiv{
	width: 100%;
	height: 657px;
  	background: linear-gradient(120deg,#2980b9, #8e44ad);
	display: flex;
	justify-content: center;
	align-items: center;
}
.informationForm{
/*	border: 1px solid red;*/
	border-radius: 15px;
	width: 569px;
	height: 300px;
	background: rgba(255, 255, 255, 0.2);/*Թափանցիկությունը վերցնում է mainDiv-ից*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h3_white_font_style{
/*	border: 1px solid red;*/
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.line{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 10.440px;
}
.main_informationForm{
/*	border: 1px solid red;*/
	width: 496px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.span_style{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.forButton{
/*	border: 1px solid red;*/
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
.button_style{
	border: 1px solid white;
	border-radius: 12px;
	width: 15%;
	height: 35px;
	background: rgba(26, 129, 204, 0.2);/*Թափանցիկությունը վերցնում է loginForm-ից*/
	color: white;
}
.button_style:hover{
	background: rgba(26, 129, 204, 0.7);
}