body{
	margin: 0;
}
.mainDiv{
	width: 100%;
	height: 657px;
  	background: linear-gradient(120deg,#2980b9, #8e44ad);
	display: flex;
	justify-content: center;
	align-items: center;
}
.accountSearchForm{
/*	border: 1px solid white;*/
	border-radius: 15px;
	width: 430px;
	height: 265.440px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
}
.h1_white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
	padding-left: 20px;
	box-sizing: border-box;
}
.line{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 15.440px;
}
.main_accountSearchForm{
/*	border: 1px solid red;*/
	width: 410px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
	box-sizing: border-box;
	margin-bottom: 15.440px;
}
.spans{
/*	border: 1px solid;*/
	display: flex;
	flex-direction: column;
}
.white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.inputFields{
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
}
.bottom{
/*	border: 1px solid red;*/
	width: 410px;
	height: 36px;
	display: flex;
	justify-content: flex-end;
}
.buttons{
/*	border: 1px solid blue;*/
	width: 50%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.sumbitButton{
	border: 1px solid white;
	border-radius: 12px;
	width: 95px;
	height: 35px;
	background: rgba(255, 255, 255, 0.5);
	color: white;
}
.sumbitButton:hover{
	background: rgba(255, 255, 255, 0.4);
}
.sumbitButton:nth-child(2){
	background: rgba(26, 129, 204, 0.2);
}
.sumbitButton:nth-child(2):hover{
	background: rgba(26, 129, 204, 0.7);
}