body{
	margin: 0;
}
.mainDiv{
	width: 100%;
	height: 657px;
  	background: linear-gradient(120deg,#2980b9, #8e44ad);
	display: flex;
	justify-content: center;
	align-items: center;
}
.passwordRecoveryForm{
/*	border: 1px solid white;*/
	border-radius: 15px;
	width: 487px;
	height: 260.440px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
}
.h2_white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
	padding-left: 20px;
	box-sizing: border-box;
}
.line{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 15.440px;
}
.main_passwordRecoveryForm{
/*	border: 1px solid red;*/
	width: 486px;
	height: 95px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
	box-sizing: border-box;
	margin-bottom: 15.440px;
}
.spans{
/*	border: 1px solid;*/
	display: flex;
	flex-direction: column;
}
.white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.sending_code{
/*	border: 1px solid green;*/
	width: 459px;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.inputFields{
	border: none;
	border-radius: 10px;
	width: 40%;
	height: 39px;
	padding-left: 10px;
	box-sizing: border-box;
}
.inside_of_sending_code{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bottom{
/*	border: 1px solid red;*/
	width: 469px;
	height: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.linkStyle{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding-left: 15px;
	box-sizing: border-box;
}
.linkStyle:hover{
	text-decoration: underline;
}
.buttons{
/*	border: 1px solid blue;*/
	width: 43%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
}
.sumbitButton{
	border: 1px solid white;
	border-radius: 12px;
	width: 95px;
	height: 35px;
	background: rgba(255, 255, 255, 0.5);
	color: white;
}
.sumbitButton:hover{
	background: rgba(255, 255, 255, 0.4);
}
.sumbitButton:nth-child(2){
	background: rgba(26, 129, 204, 0.2);
}
.sumbitButton:nth-child(2):hover{
	background: rgba(26, 129, 204, 0.7);
}