body{
	margin: 0;
}
.mainDiv{
	width: 100%;
	height: 657px;
  	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.regForm{
/*	border: 1px solid;*/
	border-radius: 15px;
	width: 400px;
	height: 450px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h1_white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.line{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 10.440px;
}
.main_regForm{
/*	border: 1px solid red;*/
	width: 250px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputFields{
	border: none;
	border-radius: 10px;
	width: 98%;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
}
.sumbitButton{
	border: 1px solid white;
	border-radius: 12px;
	width: 100%;
	height: 35px;
	background: rgba(26, 129, 204, 0.2);/*Թափանցիկությունը վերցնում է loginForm-ից*/
	color: white;
}
.sumbitButton:hover{
	background: rgba(26, 129, 204, 0.7);
}