body{
	margin: 0;
}
.mainDiv{
	width: 100%;
	height: 657px;
  	background: linear-gradient(120deg,#2980b9, #8e44ad);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginForm{
/*	border: 1px solid white;*/
	border-radius: 15px;
	width: 400px;
	height: 300px;
	background: rgba(255, 255, 255, 0.2);/*Թափանցիկությունը վերցնում է mainDiv-ից*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h1_white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.line{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 10.440px;
}
.main_loginForm{
/*	border: 1px solid red;*/
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputFields{
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
}
.sumbitButton{
	border: 1px solid white;
	border-radius: 12px;
	width: 100%;
	height: 35px;
	background: rgba(26, 129, 204, 0.2);/*Թափանցիկությունը վերցնում է loginForm-ից*/
	color: white;
}
.sumbitButton:hover{
	background: rgba(26, 129, 204, 0.7);
}
.white_font_style{
	color: white;
	font-family: 'Roboto', sans-serif;
}
.linkStyle{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.linkStyle:hover{
	text-decoration: underline;
}