.message-float-left{
    display: flex;
    float: left;
    direction: rtl;
}
.message-float-right{
    display: flex;
    float: right;
}

.messageWrapper{
    width: 75vh;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 500px; /* Set your desired max height */
    overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
}

.chat-message-left {
    margin-right: auto;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.flex-grow-0 {
    flex-grow: 0!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.message-container {
    clear: both;
    margin: 10px 0;
}

.single-message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 8px;
    max-width: 70%; /* Adjust as needed */
}

.sender {
    background-color: #DCF8C6; /* Example background color for sender */
    float: right;
    clear: both;
}

.recipient {
    background-color: #E0E0E0; /* Example background color for recipient */
    float: left;
    clear: both;
}

.user-info{
    border-top: 1px solid gray;
    padding: 5px;
}

.user-info:hover{
    cursor: pointer;
}

</style>