body {
    background-color: #f8f9fa;
}

.question-container {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exam-info-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

}

.question-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.options-label {
    font-size: 16px;
}

.btn-finish-exam {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 18px;
    font-weight: bold;
}

.btn-finish-exam:hover {
    background-color: #218838;
    border-color: #1e7e34;
}