/* CSS for edit/delete buttons */
.edit-delete-buttons {
    display: none; /* Hide the buttons by default */
    top: -10%; /* Adjust the top position as needed */
    right: -80%; /* Adjust the right position as needed */
}

.singleGroup:hover .edit-delete-buttons {
    display: flex; /* Show the buttons on hover */
}